{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div>
    <p>Account: "<b>{user.username}</b>"</p>

    <p>User data:</p>
    <ul>
        <li><f:translate key="tx_nlauth_user_domain_model_user.username">Username</f:translate>: {user.username}</li>
        <li><f:translate key="tx_nlauth_user_domain_model_user.firstName">First Name</f:translate>: {user.firstName}</li>
        <li><f:translate key="tx_nlauth_user_domain_model_user.lastName">Last Name</f:translate>: {user.lastName}</li>
        <li><f:translate key="tx_nlauth_user_domain_model_user.company">Company</f:translate>: {user.company}</li>
        <li><f:translate key="tx_nlauth_user_domain_model_user.www">Website</f:translate>: {user.www}</li>
        <li><f:translate key="tx_nlauth_user_domain_model_user.title">Title</f:translate>: {user.title}</li>
        <li><f:translate key="tx_nlauth_user_domain_model_user.country">Country</f:translate>: {user.country}</li>
    </ul>

    <p>Approve by link:</p>

    <ul>
        <f:for each="{hashUris}" as="hash" key="label">
            <li><a href="{hash}">{label}</a></li>
        </f:for>
    </ul>

    <p>Or decline by link:</p>

    <a href="{declineHashUri}">Decline</a>
</div>
