{namespace nl=NL\NlAuth\ViewHelpers}

<f:layout name="Default"/>

<f:section name="content">
    <f:form action="requestPasswordReset" class="requestPasswordResetForm tx-nl-auth-user-password-request-reset-form">
        <h4>Please enter your email.</h4>
        <f:render partial="Form/TextField" arguments="{
            name: 'usernameOrEmail',
            type: 'text',
            label: 'Email',
            placeholder: 'example@example.com'
        }" />
        <f:render partial="Form/SubmitButton" arguments="{
            label: 'Continue'
        }"/>
    </f:form>
    <f:if condition="{settings.passwordRecovery.showLoginLink}">
        <f:then>
            <p class="text-center text-gray">Remember the password?
                <f:link.action controller="Auth" action="showLoginForm" pageUid="{settings.login.page}">
                    Sign in
                </f:link.action>
            </p>
        </f:then>
    </f:if>
</f:section>