{namespace nl=NL\NlAuth\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">

    <f:form action="passwordReset">

        <f:form.hidden name="hash" value="{hash}"/>

        <f:render partial="Form/Password" arguments="{
            name: 'password',
            placeholder: 'New password'
        }"/>

        <f:render partial="Form/Password" arguments="{
            name: 'passwordRepeat',
            placeholder: 'Repeat new password'
        }"/>

        <f:render partial="Form/SubmitButton" arguments="{
            label: 'PASSWORD RESET'
        }"/>
    </f:form>

</f:section>