{namespace nl=NL\NlAuth\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
    <div class="m-login__signin">
        <f:form action="passwordReset" format="json" pageType="{settings.ajaxTypeNum}" id="passwort_vergessen" class="m-form m-form--state m--margin-top-20 tx-nl-auth-user-password-reset">
            <div class="m-login__head white">
                <h3 class="m-login__title segoeprint font-weight-bold">Passwort ändern</h3>
                <div class="m-login__desc">Bitte geben Sie das neue Passwort zweimal ein.<br>Es ist eine Mindestlänge von 8 Zeichen erforderlich.</div>
            </div>
            <f:form.hidden name="hash" value="{hash}"/>
            <f:render partial="Form/Password" arguments="{
                name: 'password',
                placeholder: 'Neues Passwort'
            }"/>
            <f:render partial="Form/Password" arguments="{
                name: 'passwordRepeat',
                placeholder: 'Neues Passwort wiederholen'
            }"/>
            <div class="m-login__form-action">
                <div class="col-12 col-lg-8 offset-lg-2 m--margin-top-15">
                    <button id="m_login_signin_submit" class="btn btn-block btn-focus btn-primary m-btn m-btn--pill">Passwort ändern</button>
                </div>
            </div>
        </f:form>
    </div>
</f:section>

<f:section name="bottom" />

<f:section name="FooterAssets">
    <v:asset.script path="EXT:nl_auth/Resources/Public/js/passwort_vergessen.js" name="neuPassJs" />
</f:section>