<f:form.validationResults for="{name}">
    <div class="form-group {f:if(condition: validationResults.errors, then: 'has-feedback has-error')}">
        <label for="tx-nl-auth-user-{name}-field">{label}</label>
        <f:form.password
                name="{name}"
                value="{value}"
                id="tx-nl-auth-user-{name}-field"
                placeholder="{placeholder}"
                title="{validationResults.errors.0}"
                class="form-control"
                additionalAttributes="{additionalAttributes}"/>
        <f:if condition="{settings.login.showForgotPasswordLink}">
            <f:then>
                <f:link.page pageUid="{settings.passwordRecovery.page}" class="forgot-pass">Forgot password?</f:link.page>
            </f:then>
        </f:if>
        <f:if condition="{validationResults.errors}">
            <i class="form-control-feedback iconsimple iconsimple-times hidden-xs" data-sv-icon-for="{name}"></i>
            <small class="help-block" data-sv-for="{name}">{validationResults.errors.0.message}</small>
        </f:if>
    </div>
</f:form.validationResults>