<f:form.validationResults for="{name}">
    <div class="form-group m-form__group {f:if(condition: validationResults.errors, then: 'has-danger')}">
        <f:form.textfield
                type="{type}"
                name="{name}"
                value="{value}"
                id="tx-nl-auth-user-{name}-field"
                placeholder="{placeholder}"
                title="{validationResults.errors.0}"
                class="form-control m-input m-input--air m-input--pill"
                additionalAttributes="{additionalAttributes}"/>
        <f:if condition="{validationResults.errors}">
            <div id="tx-nl-auth-user-{name}-field-error" class="form-control-feedback">{validationResults.errors.0.message}</div>
        </f:if>
    </div>
</f:form.validationResults>