{namespace nl=NL\NlAuth\ViewHelpers}

<f:layout name="Default"/>

<f:section name="content">
    <nl:logoutForm pageUid="{settings.login.page}" class="tx-nl-auth-user-logout-form">
        <f:render partial="Form/Static" arguments="{
            translationKey: 'tx_nlauth_user.logged_user',
            defaultLabel: 'Username:',
            value: user.username
        }"/>
        <f:render partial="Form/SubmitButton" arguments="{
            label: 'Logout'
        }"/>
    </nl:logoutForm>
</f:section>