{namespace nl=NL\NlAuth\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
    <f:security.ifAuthenticated>
        <f:else>
            <nl:loginForm
                    userStoragePageUid="{storagePid}"
                    pageUid="{settings.login.page}"
                    method="post"
                    class="loginForm">
                <h4>Please enter your email & password.</h4>
                <f:render partial="Form/TextField" arguments="{
                    name: 'user',
                    type: 'text',
                    value: formData.user,
                    label: 'Email',
                    placeholder: 'name@mail.com'
                  }"/>
                <f:render partial="Form/PasswordWithForgot" arguments="{
                    name: 'pass',
                    type: 'password',
                    label: 'Password',
                    placeholder: 'Enter your password',
                    additionalAttributes: {data-rsa-encryption: ''}
                  }"/>
                <f:render partial="Form/SubmitButton" arguments="{
                    label: 'SIGN IN'
                }"/>
            </nl:loginForm>
            <f:if condition="{settings.registration.page}">
                <f:then>
                    <p class="text-center text-gray">Don’t have an account?
                        <f:link.page pageUid="{settings.registration.page}">Request access</f:link.page>
                    </p>
                </f:then>
            </f:if>
        </f:else>
    </f:security.ifAuthenticated>
</f:section>
