{namespace nl=NL\NlAuth\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default"/>

<f:section name="content">
        <f:security.ifAuthenticated>
            <f:then>
                <f:form action="update" name="user" object="{user}" class="accountForm tx-nl-auth-user-profile-form">
                    <h4>UPDATE ACCOUNT PROFILE</h4>
                    <f:if condition="{settings.profile.fields}">
                        <f:then>
                            <f:for each="{v:iterator.explode(content: settings.profile.fields, glue: ',')}" as="field">
                                <f:render partial="Form/Fields/{f:format.case(value: field, mode: 'capital')}" arguments="{objectName: 'user'}" />
                            </f:for>
                        </f:then>
                        <f:else>
                            <f:render partial="Form/Fields/Username" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/Password" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/Name" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/FirstName" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/MiddleName" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/LastName" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/Address" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/Telephone" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/Fax" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/Email" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/Title" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/Zip" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/City" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/Country" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/Www" arguments="{objectName: 'user'}" />
                            <f:render partial="Form/Fields/Company" arguments="{objectName: 'user'}" />
                        </f:else>
                    </f:if>

                        <f:render partial="Form/SubmitButton" arguments="{
                            label: 'UPDATE'
                        }"/>
                        <f:if condition="{settings.profile.deletion.enable}">
                            <button type="button" class="btn btn-default big-pink-button purple-button center-block" data-toggle="modal" data-target=".bs-deleteAccount-modal-sm">Delete account</button>
                        </f:if>

                    </div>
                </f:form>
                <f:if condition="{settings.profile.deletion.enable}">
                    <div class="modal fade bs-deleteAccount-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Do you want to delete your account?</h4>
                                </div>
                                <!-- <div class="modal-body">
                                    <p>Do you want to delete your account?</p>
                                </div> -->
                                <div class="modal-footer">
                                    <f:link.action action="delete" class="btn btn-default pink-button">delete</f:link.action>
                                    <button type="button" data-dismiss="modal" class="btn btn-default purple-button">cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:if>
            </f:then>
        </f:security.ifAuthenticated>
</f:section>
