<f:form.validationResults for="{objectName}.{property}">
    <div class="form-group {f:if(condition: validationResults.errors, then: 'has-feedback has-error')}">
        <label for="tx-nl-auth-user-{property}-field">{label}</label>
        <f:form.textfield
                property="{property}"
                value="{value}"
                type="{type}"
                id="tx-nl-auth-user-{property}-field"
                placeholder="{placeholder}"
                title="{validationResults.errors.0}"
                class="form-control"
                additionalAttributes="{additionalAttributes}"/>
        <f:if condition="{validationResults.errors}">
            <i class="form-control-feedback iconsimple iconsimple-times hidden-xs" data-sv-icon-for="{property}"></i>
            <small class="help-block" data-sv-for="{property}">{validationResults.errors.0.message}</small>
        </f:if>
    </div>
</f:form.validationResults>